<h2>Add Author</h2>
<table>
    <tr>
        <td>Id</td>
        <td><input type="text" ng-model="author.Id" class="form-control" /></td>
    </tr>
    <tr>
        <td>Name</td>
        <td><input type="text" ng-model="author.Name" class="form-control" /></td>
    </tr>
    <tr>
        <td>Written Books</td>
        <td><input type="text" ng-model="author.WrittenBooks" class="form-control" /></td>
    </tr>
    <tr>
        <td colspan="2" align="center"> <input type="button" ng-click="add(author)" value="Add New Author" /></td>
    </tr>
</table>